:root {
  --blue-shade-button: rgb(30, 62, 136);
  --grey-shade-bg: rgb(242, 242, 242);
  --blue-background: rgba(0, 0, 255, 0.891);
  --lightgrey: rgb(216, 216, 216);
  --dark-grey: rgb(64, 76, 84);
  --balanced-grey: rgb(107, 107, 107);
  --medium-grey: rgb(77, 76, 76);
}

@media screen and (max-width: 900px) {
  .search-child input {
    width: calc(100% - 20px);

  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding: 0;
  margin: 0px;
}

i {
  margin: 2px;
  padding: 0;
}

.wrapper {
  max-width: 1140px;
  border: 2px solid;
  margin: auto;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0px;
  margin: 0;
  display: inline-block;
}

img {
  width: 1.7rem;
  height: 1.4rem;
}

.greybg {
  padding-top: 1rem;
  background-color: var(--grey-shade-bg);
}

section {
  padding: 0;
  margin: 0;
}

.menubar {
  display: flex;
  justify-content: space-between;

}

.language-currency {
  /* border: 2px solid black; */
}

.menuList {
  /* border: 2px solid black; */

}

.moremenu {
  /* border: 2px solid black; */
}

.navbar {
  padding: 4px;
  display: flex;

  justify-content: space-between;

}

.logo {

  width: 100;
}

.logo img {

  width: 80%;
  height: auto;
}

.search {}

.search-child {

  display: flex;

}

.search-child input {
  width: 300px;
}

.search-child a {
  font-size: small;
  color: white;
  padding: 0.5rem;
  background-color: var(--blue-background);

}

.search button {
  color: white;
  padding: 0.5rem;
  background-color: var(--blue-background);
}

.options {
  display: flex;
  justify-content: center;

}

.options div {

  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;

}

.options img {

  align-self: center;

}

.options lable {
  font-size: medium;
  text-align: center;

}

.cart {
  padding: 4px;

}

.cartIcon {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  background-color: var(--blue-background);

}

.cartIcon i {
  color: white;

}

nav {
  background-color: var(--blue-background);
  font-weight: 450;
}

.navbaroptions {
  display: flex;
  justify-content: space-between;

}

.navoptions {
  font-size: larger;
  list-style-type: none;

}

.navoptions li {

  padding: 8px;
  display: inline-block;
  color: white;

}

.navoptions li a {
  font-size: medium;
  padding: 8px;
  color: white;
}

.navoptions li a:hover {
  padding: 8px;
  background-color: yellow;
  color: black;

}

.highlight {

  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.mainhighlight {
  position: relative;
  padding: 2px;
  width: 75%;
  margin: 1rem;
}

.mainhighlight img {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.mainhighlight a {
  position: absolute;
  top: 65.2%;
  left: 25%;
  background: transparent;
  border: 2px solid var(--balanced-grey);
  font-size: large;
  margin: 2px;
  border-radius: 4px;
  padding: 1.2%;
  font-size: medium;
  color: var(--dark-grey);
  display: inline;
}

.mainhighlight a img {
  height: 1rem;
  width: 1rem;
  margin-left: 6px;
  vertical-align: middle;
}

.subhighlight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
}

.subhighlight div {
  padding: 0.2rem;
}

.carimg1 {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.carimg2 {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.features {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-grey);
}

.fset {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.flogo img {
  border: 2px solid var(--blue-background);
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  border-radius: 100%;
  margin: 4px;
}

.mainf {
  color: white;
  font-size: large;
  font-weight: 450;
  padding: 3px;
}

.subf {
  color: var(--grey-shade-bg);
}

.categories {
  margin: 5rem 0;
}

.categories h1 {
  margin-top: 3rem;
  color: var(--medium-grey);
  font-size: xx-large;
  text-align: center;
}

.rule {
  width: 3%;
  border: 1px solid red;
}

.categories p {
  text-align: center;
  margin: 0 23%;
  padding: 5px;
  color: var(--grey-border);
}

.categories p a {
  color: blue;
}

.catOptions {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.catOptions li {
  padding: 1rem;
  background-color: var(--lightgrey);
  font-weight: 500;
  font-size: medium;
  color: var(--medium-grey);
}

.catOptions li:hover {
  background-color: var(--blue-background);
  color: white;
}

.catCards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.catCards img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.catCards a {
  position: absolute;
  align-items: center;
  background-color: white;
  top: 80%;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: medium;
  border: none;
}

.card1 {
  left: 10%;
}

.card2 {
  left: 30%;
}

.card3 {
  left: 46%;
}

.card4 {
  left: 67%;
}

.card5 {
  left: 85%;
}

.fpdts {
  background-color: var(--lightgrey);
}

.cartItems {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.cartItem {
  display: flex;
  position: relative;
  margin: 8px;
  flex-direction: column;
  border: 2px solid var(--lightgrey);
}

.pimgcontainer {
  padding: 0;
}

.pimage {
  margin: auto;
  padding: 5px;
  height: 98%;
  width: 95%;
}

.pname {
  display: flex;
  background-color: var(--lightgrey);
  font-size: large;
  justify-content: center;
  margin: 0;
  padding: 6px 0;
}

.pname img {
  height: 1rem;
  width: 1rem;
}

.buy {
  display: flex;
  background-color: var(--lightgrey);
  justify-content: space-between;
  padding: 2px;
}

.buy img {
  border-radius: 100%;
}

.buybutton {
  padding: 2px;
  color: var(--balanced-grey);
}

.pbrand {
  text-decoration: underline;
}

.price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.price h2 {
  margin: 0;
  font-weight: 460;
  padding-left: 6px;
}

.price h3 {
  margin: 8px 0px;
  font-weight: 300;
  font-size: larger;
  padding-left: 6px;
}

.pothers {
  padding-left: 6px;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.pothers button {
  background-color: var(--blue-shade-button);
  color: white;
  padding: 0.5rem;
  line-height: 1.2rem;
  border: none;
}

.wishlist img {
  padding: 5px 8px;
}

.pothers input {
  height: 2rem;
  width: 2rem;
}

.discounttag {
  height: 1rem;
  width: 2rem;
  font-size: medium;
  font-weight: 600;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 2%;
  left: 83%;
  border: none;
  padding: 8px 13px;
  text-align: left;
  background-color: red;
}

.allproducts a {
  margin-top: 3rem;
  left: 58%;
  background: fixed;
  background-color: var(--blue-background);
  color: white;
  font-weight: 500;
  border: none;
  margin: 2rem 0;
}

.brands {
  margin-top: 10rem;
}

.brandname {
  margin: 0 1.5rem;
}

.allbrands {
  display: flex;
  justify-content: center;
}

.allbrands img {
  height: 80%;
  width: 100%;
  margin: 1rem;
  border: 2px solid var(--lightgrey);
  border-radius: 4px;
}

.gallery {
  background-color: var(--dark-grey);
  padding: 1rem 0;
}

.gallery h1 {
  color: white;
}

.gallery p {
  color: var(--balanced-grey);
  font-size: medium;
}

.gallery img {
  height: 70%;
  width: 80%;
  border-radius: 0.5rem;
  border: none;
}

.gallitems {
  justify-content: center;
  padding-right: 2.6rem;
  padding-left: 4rem;
}

.latest {
  display: flex;
  justify-content: space-around;
  padding: 0 3.2rem;
}

.latestcards {
  border: none;
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 25%;
}

.latestcards img {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.latestcards h2 {
  text-align: center;
}

.latestcards p {
  font-size: large;
  color: black;
  font-weight: 300;
  text-align: center;
  margin: 0 6px;
  padding: 3px;
}

.latestcards a {
  font-size: small;
  font-weight: 300;
  text-align: center;
  padding: 15px;
}

.datetags {
  position: absolute;
  background-color: var(--blue-shade-button);
  top: 2%;
  left: 2%;
  height: 7%;
  width: 10%;
}

.datetags p {
  color: white;
  font-weight: 600;
  font-size: small;
}

.datepart {
  font-size: 1em;
}

.views {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  opacity: 0.9;
}

.views p {
  color: black;
  font-size: small;
  padding: 0.5rem;
}

.views img {
  padding: 0 2px;
  height: 1em;
  width: 1rem;
}

.latestblog {
  padding-top: 2%;
}

.latestblog img {
  height: 100%;
  width: 20%;
  margin: 0 40%;
}

.latestblog p {
  height: 8rem;
  font-size: medium;
  font-weight: 350;
}

.latestblog h4 {
  margin: 10%;
  text-align: center;
  color: var(--balanced-grey);
}

.mostviewed {}